[submodule "cmake/phake"]
	path = cmake/phake
	url = https://github.com/phiwen96/phake
[submodule "dependencies/ph_file"]
	path = dependencies/ph_file
	url = https://github.com/phiwen96/ph_file
[submodule "dependencies/ph_concepts"]
	path = dependencies/ph_concepts
	url = https://github.com/phiwen96/ph_concepts
